@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Project Organization, Warehouse, Equipment and Resources System</h1>
    <p>This is yours task board.</p>
</div>
