@model EnclosureServiceModel

@{
    ViewBag.Title = $"Enclosure {Model.Tag} Details";
}

<form enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label></label>
        </dt>
        <dd>
            <input name="file" type="file" />
        </dd>
    </dl>
    <input class="btn" name="input" asp-action="AddParts" asp-controller="Enclosure" asp-route-id="@Model.Id" type="submit" value="Upload" />
    <input type="hidden" asp-for="@Model.Id" class="form-control" value="@Context.GetRouteData().Values["id"]" />
</form>

<partial name="_PartsTable" />