@model EnclosureServiceModel

@{
    ViewBag.Title = $"Enclosure {Model.Tag} Details";
}

<div class="container text-center">
    <div class="row align-items-start">
        <div class="col">
            <form>
                <button class="btn btn-primary" asp-action="" asp-controller="" asp-route-id="" type="submit">Button</button><br />
            </form>
        </div>
    </div>
</div>

<div class="row text-center">
    <h2> @Model.Tag - Details:</h2>
</div>

<div class="container text-center">
    <div class="row align-items-start">
        <div class="col">
            <form>
                <button class="btn btn-primary" asp-action="AddParts" asp-controller="Enclosure" asp-route-id="@Model.Id" type="submit">Add Parts</button><br />
            </form>

        </div>
        <div class="col">
            <form>
                <button class="btn btn-primary" asp-action="" asp-controller="" asp-route-id="" type="submit">Add Cables</button><br />
            </form>
        </div>
    </div>
</div>

<partial name="_PartsTable" />
