@using POWER_System.Areas.Admin.Models;
@using POWER_System.Models.Enum;
@model UserServiceModel

@{
    ViewData["Title"] = "User Edit";
}

<div class="row">
    <div class="col-4 offset-md-4">
        <form id="edit" method="post">
            <input type="hidden" name="Id" value="@Model.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="text-center mb-3">
                <label asp-for="FirstName" class="form-label"></label>
                <input asp-for="FirstName" class="form-control" aria-required="true" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <label asp-for="LastName" class="form-label"></label>
                <input asp-for="LastName" class="form-control" aria-required="true" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <label asp-for="UserName" class="form-label"></label>
                <input asp-for="UserName" class="form-control" aria-required="true" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" aria-required="true" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <label asp-for="OfficeLocation" class="form-label"></label>
                <select class="form-select" aria-label="Select office" asp-for="OfficeLocation" 
                asp-items="@Html.GetEnumSelectList<Offices>()">
                </select>
                <span asp-validation-for="OfficeLocation" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <label asp-for="Department" class="form-label"></label>
                <input asp-for="Department" class="form-control" aria-required="true" />
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <label asp-for="Position" class="form-label"></label>
                <input asp-for="Position" class="form-control" aria-required="true" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-4">
                    <button id="login-submit" type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}