@model IEnumerable<POWER_System.Services.Models.ProjectServiceModel>

@{
    ViewBag.Title = "All Projects";
}

<div class="text-center row">
    <table class="table-striped">
        <thead>
            <tr>
                <th scope="col">Project Number</th>
                <th scope="col">Project Name</th>
                <th scope="col">Project Contractor</th>
                <th scope="col">Project Status</th>
            </tr>
        </thead>
        @foreach (var project in Model)
        {
            <tbody>
                <tr>
                    <td>@project.Number</td>
                    <td>@project.Name</td>
                    <td>@project.Contractor</td>
                    <td>@project.Status</td>
                </tr>
            </tbody>
        }
    </table>
</div>
