<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - POWER_System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/POWER_System.styles.css" asp-append-version="true" />
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-md navbar-light bg-light" id="nav-bar">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">POWER System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown" d-sm-inline-flex justify-content-between>
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Projects </a>
                        <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Project" asp-action="All">All Projects</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Project" asp-action="Add">Add Projects</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <text aria-labelledby="navbarDropdownMenuLink"> Search for project by name </text>
                            <form class="form-inline d-flex dropdown">
                                <input class="form-control form-control-sm" type="text" placeholder="Search" name="keyword" data-toggle="collapse">
                                <button class="btn btn-outline-success btn-sm" asp-area="" asp-controller="Project" asp-action="SearchResult" type="submit">Search</button>
                            </form>
                        </ul>
                    </li>
                </ul>
            </div>
            <partial name="_LoginPartial" />
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - POWER_System <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/menuDropdown.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
